<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReniecService" />
                <binding name="BasicHttpBinding_IMiembrosService" />
                <binding name="BasicHttpBinding_IHabitacionesService" />
                <binding name="BasicHttpBinding_INotificacionService" />
                <binding name="BasicHttpBinding_IHotelService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:83/ReniecService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReniecService" contract="ReniecService.IReniecService"
                name="BasicHttpBinding_IReniecService" />
            <endpoint address="http://localhost:82/MiembrosService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMiembrosService" contract="MemberService.IMiembrosService"
                name="BasicHttpBinding_IMiembrosService" />
            <endpoint address="http://localhost:84/HabitacionesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHabitacionesService"
                contract="RoomService.IHabitacionesService" name="BasicHttpBinding_IHabitacionesService" />
            <endpoint address="http://localhost:90/NotificacionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificacionService"
                contract="NotificatorService.INotificacionService" name="BasicHttpBinding_INotificacionService" />
            <endpoint address="http://localhost:85/HotelService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHotelService" contract="HotelService.IHotelService"
                name="BasicHttpBinding_IHotelService" />
        </client>
    </system.serviceModel>
</configuration>