@{
    ViewBag.Title = "Hoteles";
}

<div class="card mb-2">
    <h5 class="card-header">Hoteles</h5>
</div>

<div class="card-group mb-2">
    <div class="card m-1">
        <img class="card-img-top" src="~/Content/room1.jpg">
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Acogedora habitación</li>
                <li>1 Cama</li>
                <li>S/149</li>
                <li>★★★★☆</li>
            </ul>
            <button type="button" class="btn btn-block btn-outline-primary">Ver Oferta</button>
        </div>
    </div>
    <div class="card m-1">
        <img class="card-img-top" src="~/Content/room2.jpg">
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Ubicación céntrica</li>
                <li>1 Cama</li>
                <li>S/199</li>
                <li>★★★★★</li>
            </ul>
            <button type="button" class="btn btn-block btn-outline-primary">Ver Oferta</button>
        </div>
    </div>
    <div class="card m-1">
        <img class="card-img-top" src="~/Content/room3.jpg">
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Vista frente al mar</li>
                <li>1 Cama</li>
                <li>S/399</li>
                <li>★★★★☆</li>
            </ul>
            <button type="button" class="btn btn-block btn-outline-primary">Ver Oferta</button>
        </div>
    </div>
    <div class="card m-1">
        <img class="card-img-top" src="~/Content/room4.jpg">
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Habitación en azotea</li>
                <li>1 Cama</li>
                <li>S/99</li>
                <li>★★★★☆</li>
            </ul>
            <button type="button" class="btn btn-block btn-outline-primary">Ver Oferta</button>
        </div>
    </div>
</div>

<div class="card-group mb-2">
    <div class="card m-1">
        <img class="card-img-top" src="~/Content/room1.jpg">
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Acogedora habitación</li>
                <li>1 Cama</li>
                <li>S/149</li>
                <li>★★★★☆</li>
            </ul>
            <button type="button" class="btn btn-block btn-outline-primary">Ver Oferta</button>
        </div>
    </div>
    <div class="card m-1">
        <img class="card-img-top" src="~/Content/room2.jpg">
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Ubicación céntrica</li>
                <li>1 Cama</li>
                <li>S/199</li>
                <li>★★★★★</li>
            </ul>
            <button type="button" class="btn btn-block btn-outline-primary">Ver Oferta</button>
        </div>
    </div>
    <div class="card m-1">
        <img class="card-img-top" src="~/Content/room3.jpg">
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Vista frente al mar</li>
                <li>1 Cama</li>
                <li>S/399</li>
                <li>★★★★☆</li>
            </ul>
            <button type="button" class="btn btn-block btn-outline-primary">Ver Oferta</button>
        </div>
    </div>
    <div class="card m-1">
        <img class="card-img-top" src="~/Content/room4.jpg">
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Habitación en azotea</li>
                <li>1 Cama</li>
                <li>S/99</li>
                <li>★★★★☆</li>
            </ul>
            <button type="button" class="btn btn-block btn-outline-primary">Ver Oferta</button>
        </div>
    </div>
</div>