<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHabitacionesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61476/HabitacionesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHabitacionesService"
                contract="HabitacionesWS.IHabitacionesService" name="BasicHttpBinding_IHabitacionesService" />
        </client>
    </system.serviceModel>
</configuration>