<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMiembrosService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:25703/MiembrosService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMiembrosService"
                contract="MiembrosWS.IMiembrosService" name="BasicHttpBinding_IMiembrosService" />
        </client>
    </system.serviceModel>
</configuration>